# PyCharm project setup (.idea), jupyter notebook folders and precompiled bytecode (__pycache__)
/.idea
/.ipynb_checkpoints
/__pycache__
/scripts/__pycache__

# local outputs
/output/*
!/output/.gitkeep

# old or irrelevant files and folders
/archive
/scripts/lib.py
/inputData/emobpyData
/inputData/archive
/presentation/archive
/JupyterNotebooks

# files still in process
/scripts/libPlotting.py
/scripts/readInAndProcessMID.py

# log files
debug.log

# documentation files on local machine
/build
