# PyCharm project setup (.idea), jupyter notebook folders and precompiled bytecode (__pycache__)
/.idea/
*__pycache__/
*/.ipynb_checkpoints/*

# Package building related folders
/vencopy.egg-info
/build
/dist

# log files
debug.log
Makefile
make.bat

# Git version conflict files
*.py.orig

# files with local paths
/config/localPathConfig.yaml