# PyCharm project setup (.idea), jupyter notebook folders and precompiled bytecode (__pycache__)
/.idea
/.ipynb_checkpoints
/__pycache__
/scripts/__pycache__

# old files and folders
/archive
/lib.py

# files still in process
/scripts/libPlotting.py
/scripts/readInAndProcessMID.py

# log files
debug.log

# documentation files on local machine
/build
